*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.container {

    padding: 10px 50px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #FCFDFD;
    gap: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    

}
header .logotipo{
    display: flex;
    align-items: center;
    gap: 10px;
  
}

header .logotipo .logo{

    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
    background-color: #00D4FF;
    
}

header .logotipo h3{
    font-weight: 300;
    color: #666D79;
}

header .logotipo p{
    display: inline-block;
}

header .date{

    width: 300px;
    border: 1px solid #666D79;
    border-radius: 30px;
    padding: 10px;
}

main .card-list{
    margin: 25px 10px;
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

main .card-list .card {
    
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
    padding: 20px 30px;
    width: 300px;
    height: 150px;
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

main .card-list .card span{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 30px;
    
    
}

main .card-list .card .llamadas{
    background-color: #E7F8F2;
}

main .card-list .card .contestadas{
    background-color: #EBF2FE;
}

main .card-list .perdidas{
    background-color: #FDECEC;
}

main .card-list .tiempo{
    background-color: #FDF5E6;
}

main .card-list .card p{
    font-size: 14px;
    color: #666D79;
}

main .card-list .card h2{
    font-weight: 400;
    font-size: 26px;
    color: #1E293B;
}

main .graficas{

    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

main .graficas .volumen_llamadas{
    height: 500px;
    background-color: #ffff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    width: 600px;
    padding: 10px;
    border-radius: 20px;
}

main .graficas .llamadas_agente{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    width: 600px;
    padding: 10px;
    border-radius: 20px;
    
}

main .graficas .llamadas_agente #llamadas_agente{
   
    object-fit: cover;
    height: 700px;
}

main .tabla {
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 15px 20px;
    width: 80%;
    margin: 0 auto;
    max-width: 80px;
    overflow-x: auto; /* scroll horizontal en móviles */
}

main .tabla {
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    max-width: 1000px;
}

main .tabla table {
    width: 100%;
    border-collapse: collapse;
}

main .tabla thead {
    display: table;
    width: 100%;
    table-layout: fixed; 
}

main .tabla tbody {
    display: block;
    max-height: 400px; 
    overflow-y: auto;
    width: 100%;
}

main .tabla tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

main .tabla th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    position: sticky;
    top: 0; /* cabecera fija */
    z-index: 1;
}

main .tabla td {
    background-color: #F7F9FB;
    padding: 10px;
    text-align: center;
}

main .tabla tbody tr:nth-child(even) td {
    background-color: #E9EFF5;
}

main .tabla tbody tr:hover td {
    background-color: rgba(76, 175, 80, 0.1);
}
